.df {
  display: flex;
}

.fullSection {
  background-color: lightgray;
  min-height: 100%;
  padding: 16px;
  box-sizing: border-box;
  padding: 116px 16px 16px 16px;
}

.subSection {
  height: 30%;
  background:transparent;
}